* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-user-select: none;
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "STHeitiSC-Light", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

body, html {
  width: 100%;
  height: 100%;
}

:global #main {
  width: 100%;
  height: 100%;
}

.all {
  width: 100%;
  height: 100%;
  overflow:hidden;
}

.box {
  width: 750rpx;
  height: 100%;
  overflow-x:hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.image{
  width: 200rpx;
}

.image2{
  width: 200rpx;
  height: 177.94rpx;
  background-image: url(../image/icon.svg)
}