.viewBoxRow{
  display: flex;
  margin: 20rpx 20rpx 0;
}
.viewBoxCol{
  composes:viewBoxRow;
  width: 300rpx;
  height: 300rpx;
  flex-direction: column;
  margin: 20rpx auto 0;
}
.text{
  margin: 20rpx;
  text-align: justify;
}
.view{
  flex: 1;
  height: 100rpx;
}
.view1{
  composes:view;
  background-color: pink;
}
.view2{
  composes:view;
  background-color: plum;
}
.view3{
  composes:view;
  background-color: brown;
}
.view4{
  composes:view;
  background-color: gold;
}
.scrollViewBox{
  width: 100%;
  height: 100%;
}
.viewTitle{
  margin: 20rpx 20rpx 0;
  font-size: 40rpx;
  font-weight: 900;
  color: #333;
}
.viewSecTitle{
  font-size: 30rpx;
  font-weight: 300;
  color: #111;
  margin: 20rpx 20rpx 0;
}
.button{
  flex: 1;
  margin: 0 20rpx;
  padding: 10rpx;
  text-align: center;
  background-color:#00FF00;
}
.buttonTap{
  composes:button;
  color: #fff;
  background-color:#0000ff;
}
.scrollViewItem{
  height: 200rpx;
  margin: 20rpx;
  background-color:#ccc;
}
.scrollViewItemPress{
  composes:scrollViewItem;
  background-color:#fff;
}
.scrollView{
  width: 100%;
  height: 100%;
}