.view{
  width: 100rpx;
  height: 100rpx;
  background-color: aqua;
  margin: 20rpx auto;
}
.view2{
  composes:view;
}
.view3{
  composes:view;
  width: 1200rpx;
  margin: 0 20rpx;
}
.viewPress{
  composes:view;
  background-color:#ccc;
  /* column row */
}
.scrollView{
  width: 100%;
  height: 400rpx;  
}
.scrollView2{
  width: 100%;
  height: 120rpx;  
  margin: 20rpx 0;
}
.text{
  font-size: 40rpx;
  color: #ccc;
}
.scrollView3{
  width: 100%;
  height: 100%;
  padding: 20rpx;
}
.listItem{
  width: 100%;
  height: 200rpx;
  background-color: #ccc;
  margin-bottom: 20rpx;
}