.listBox{
  width: 100%;
  height: 100%;
  background-color: #fefe12;
}
.list{
  width: 100%;
  height: 100%;
}
.listItem{
  width: 100%;
  height: 200rpx;
  background-color: #ccc;
  margin-bottom: 20rpx;
}